.sass-cache/
.forever/
node_modules/
bower_components/
logs/*
.bash_history
.npm/
.node-gyp/
.idea/
codekit-config.json
.DS_Store
/public/leaderboards/
high-score-*.json
/public/static/javascript/*.min.js
*.css
*.css.map
