[Unit]
Description=Multeor game server
After=network.target

[Service]
Type=forking
ExecStart=/home/multeor/multeor.sh start-forever
ExecStop=/home/multeor/multeor.sh stop
User=multeor
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
