@font-face {
    font-family: 'ablas_altbold';
    src: url('/font/ablasalt-bold-webfont.eot');
    src: url('/font/ablasalt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/ablasalt-bold-webfont.woff') format('woff'),
         url('/font/ablasalt-bold-webfont.ttf') format('truetype'),
         url('/font/ablasalt-bold-webfont.svg#ablas_altbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background: #364a4a;
    padding:0;
    margin:0;
}

#desktop-container {
    display:block;
}
#mobile-container {
    /*display:none;*/
}

@media screen and (max-device-width: 960px) {
    #desktop-container {
        display:none;
    }
    #mobile-container {
        display:block;
    }
}
