
* {
  @include box-sizing(border-box);
}

html, body, #desktop-container {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: black;
  font-family: 'NevisRegular';
  font-size: 18px;
  line-height: 1.3;
  padding: 0 19px;
  color: white;
}

p {
  margin-bottom: 10px;
}

a {
  color: #FFF;
  text-decoration: underline;

  &:hover {
    color: #FFF;
  }
}

.button {
  background: #e6ce00;
  position: relative;
  border-bottom: 5px solid #b6a300;
  display: inline-block;
  @include border-radius(2px);

  button {
    background: #ffe400;
    border: none;
    color: #272d33;
    font: 30px 'NevisRegular';
    margin: 0;
    padding: 15px 30px;
    cursor: pointer;
    @include border-radius(2px);
    outline: 0;

    .button-sub {
      display: block;
      font-size: 14px;
      line-height: 1;
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &:hover {
    border-bottom-width: 3px;
    margin-top: 2px;
  }

  &:active {
    border: none;
    background: none;
    margin-top: 5px;
  }

  &.disabled {
    border-bottom: 5px solid #999 !important;
    background: #999 !important;
    margin-top: 0 !important;

    button {
      background: #ccc !important;
      cursor: default !important;
      color: #272d33 !important;
    }
  }
}

.wrapper {
  position: relative;
  background: #191f26;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -99px; /* the bottom margin is the negative value of the footer's height + footer border*/
  width: 100%;
}

.push {
  height: 99px; /* .push must be the same height as .footer + borders */
}

.footer {
  position: relative;
  height: 99px;
  z-index: 1000;
  border-bottom: 19px solid black;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;

  .developed-by {
    list-style-type: none;
    width: 410px;
    margin: 0 auto;

    li {
      float: left;
      margin-right: 10px;

      a {
        display: inline-block;
        height: 50px;
        margin: 0 20px;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
        opacity: 0.2;

        &:hover {
          opacity: 1;
        }
      }

      .avth-logo {
        background: url(../images/sprite.png) 0px -217px no-repeat;
        width: 49px;
        height: 49px;
      }

      .dasblitz-logo {
        background: url(../images/sprite.png) 0px -276px no-repeat;
        display: inline-block;
        width: 88px;
        height: 50px;
      }

      .fili-logo {
        background: url(../images/sprite.png) 0px -325px no-repeat;
        display: inline-block;
        width: 94px;
        height: 50px;
      }
    }
  }
}

@media screen and (max-width: $mobileMax) {
  .wrapper {
    margin-bottom: 0;
  }

  .footer {
    height: 0 !important;
    padding: 0 !important;

    .developed-by {
      display: none !important;
    }
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
