@font-face {
  font-family: 'NevisBold';
  src: url('../font/nevismulteor-bold-webfont.eot');
  src: url('../font/nevismulteor-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/nevismulteor-bold-webfont.woff') format('woff'),
  url('../font/nevismulteor-bold-webfont.ttf') format('truetype'),
  url('../font/nevismulteor-bold-webfont.svg#webfontbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NevisRegular';
  src: url('../font/nevismulteor-regular-webfont.eot');
  src: url('../font/nevismulteor-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/nevismulteor-regular-webfont.woff') format('woff'),
  url('../font/nevismulteor-regular-webfont.ttf') format('truetype'),
  url('../font/nevismulteor-regular-webfont.svg#webfontbold') format('svg');
  font-weight: normal;
  font-style: normal;
}