@font-face {
    font-family: 'nevis';
    src: url('../font/nevis-webfont.eot');
    src: url('../font/nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/nevis-webfont.woff') format('woff'),
         url('../font/nevis-webfont.ttf') format('truetype'),
         url('../font/nevis-webfont.svg#webfontbold') format('svg');
    font-weight: normal;
    font-style: normal;
}