@import "compass/reset";
@import "compass/css3";
@import "_vars";
@import "_font";
@import "_base";

html, body {
    background-color: #272d33;
    padding:0;
    margin:0;
    overflow:hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    }

@media screen and (orientation: portrait) {
    html, body {
        width:100%;
        height:100%;
        background:#272d33 url(../images/controller_roteer1.png) center center no-repeat;
        }
    #controller, #game-start, #game-end {
        display:none !important;
        }
    }

#controller {
    display:none;
    background-color: #FF0059;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow:hidden;
    -ms-touch-action: none;
    -ms-content-zooming: none;
    @include transition(all 250ms ease-out);

    #leftControls {
        position: absolute;
        z-index:90;
        top:0;
        left:0;
        width:60%;
        height:100%;
        background:url(../images/controls2_stickholder.png) center center no-repeat;

        #joystick {
            position: absolute;
            z-index:91;
            top:50%;
            left:50%;
            margin-left:-119px;
            margin-top:-119px;
            width:238px;
            height:238px;

            #stick {
                position: absolute;
                z-index:92;
                width: 113px;
                height: 113px;
                margin-left:63px;
                margin-top:62px;
                background: url(../images/controls2_stick.svg) left top no-repeat;
                @include apply-origin(0 50%, 0);
                @include transition(rotate(180deg));
            }
        }
    }

    #rightControls {
        position: absolute;
        z-index:90;
        top:0;
        right:0;
        width:40%;
        height:100%;
        background-color:rgba(39,45,51,.2);

        #boost {
            position:absolute;
            z-index:92;
            top:50%;
            left:50%;
            width:152px;
            height:152px;
            margin-left:-76px;
            margin-top:-76px;
            background-image:url(../images/controls2_up.svg);
            }

        #boostBg {
            position:absolute;
            z-index:91;
            top:50%;
            left:50%;
            width:100px;
            height:110px;
            margin-left:-50px;
            margin-top:-55px;

            &.pressed {
                background-color:#FFF;
            }
        }

    }

    #score {
        position:absolute;
        left:50%;
        top:0;
        z-index:100;
        display: inline-block;
        font-family: 'nevis';
        font-size: 33px;
        color: white;
        min-width:70px;
        text-align:center;
        background-color:#272D33;
        padding:8px 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        }

    #message {
        display:none;
        position:absolute;
        top:10px;
        left:10px;
        width:90%;
        height:20px;
        text-align: left;
        }
    }

#game-start {
    margin:10px;

    .buddy-icon {
        display:none;
        margin-bottom:10px;

        img {
            float:left;
            border:2px solid #000;
            margin-right:10px;
        }
    }

    input {
        padding:10px;
    }

    #error-message {
        color:red;
    }
}

#game-end {
    display:none;
    text-align:center;
    margin:50px;

    h1 {
        margin-bottom:10px;
    }
}
