@import "compass/reset";
@import "compass/css3";
@import "_vars";
@import "_font";
@import "_base";

html, body {
  background-color: #272d33;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@media screen and (orientation: portrait) {
  html, body {
    width: 100%;
    height: 100%;
    background: #272d33 url(../images/controller_roteer1.png) center center no-repeat;
  }

  #controller, #game-start, #game-end {
    display: none !important;
  }
}

#game-start {
  display: none;
  border: 19px solid #000;
  min-height: 100%;
  background-color: #d6c000;

  #message {
    text-align: center;
    font: 18px 'NevisRegular';
    padding: 20px 40px;
    background-color: #272D33;
    min-height: 90px;
  }

  #enter-game-code {
    text-align: center;
    padding: 20px 10px;

    input {
      display: block;
      padding: 10px;
      text-align: center;
      border: 5px solid #b6a300;
      width: 75%;
      margin: 0 auto;
      font: 18px 'NevisRegular';
      color: #272d33;
    }

    div#connect-button {
      width: 200px;
      margin: 0 auto;

      .buddy-icon {
        float: left;
        position: relative;
        background-color: #000;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        margin-top: 3px;

        .mask {
          background-image: url(../images/avatar-clipdonkergeel.png);
          width: 50px;
          height: 50px;
        }
      }

      #join-game {
        float: left;

        button {
          font-size: 20px;
          padding: 15px 20px;
        }
      }
    }
  }

  &.anon {
    background-color: #de8f00;

    input {
      border-color: #ba7800 !important;
    }

    .buddy-icon {
      display: none !important;
    }

    .button {
      border-color: #ba7800 !important;

      button {
        background: #ffae1a !important;
        padding: 15px 50px !important;
      }
    }
  }
}

#game-end {
  display: none;
  border: 19px solid #000;
  min-height: 100%;
  background-color: #272d33;
  text-align: center;
  font-size: 16px;

  div#you-scored {
    width: 310px;
    margin: 0 auto;
    padding: 25px 0;
    margin-bottom: 10px;

    .buddy-icon {
      float: left;
      position: relative;
      background-color: #000;
      width: 50px;
      height: 50px;
      margin-right: 10px;

      .mask {
        background-image: url(../images/avatar-clipdonkergrijs.png);
        width: 50px;
        height: 50px;
      }
    }

    h1 {
      float: left;
      font-size: 20px;
      width: 250px;

      span {
        font-size: 25px;
      }
    }
  }

  p {
    margin: 0;

    a {
      display: block;
      color: #79838c;
      text-decoration: none;
      padding: 20px 0;
    }
  }

  #facebook-share {
    background: #ffe400;

    a {
      color: #272d33;
      font: 20px 'NevisRegular';
    }
  }

  #game-reset {
    background: #ffae1a;

    a {
      color: #272d33;
      font: 20px 'NevisRegular';
    }
  }

  #about-multeor {
    background: #272d33;
  }

  &.anon {
    .buddy-icon {
      display: none !important;
    }

    h1 {
      float: none !important;
    }
  }
}

#controller {
  display: none;
  background-color: #FF0059;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -ms-touch-action: none;
  -ms-content-zooming: none;
  @include transition(all 250ms ease-out);

  #leftControls {
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background: url(../images/controls4_stickholder.svg) center center no-repeat;

    #joystick {
      position: absolute;
      z-index: 91;
      top: 50%;
      left: 50%;
      margin-left: -138px;
      margin-top: -138px;
      width: 277px;
      height: 277px;

      #stick {
        position: absolute;
        z-index: 92;
        width: 136px;
        height: 136px;
        margin-left: 70px;
        margin-top: 70px;
        background: url(../images/controls4_stick.svg) left top no-repeat;
        @include apply-origin(0 50%, 0);
        @include transition(rotate(180deg));
      }
    }
  }

  #rightControls {
    position: absolute;
    z-index: 90;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: rgba(39, 45, 51, .2);

    #boost {
      position: absolute;
      z-index: 92;
      top: 50%;
      left: 50%;
      width: 141px;
      height: 151px;
      margin-left: -70px;
      margin-top: -76px;
      background-image: url(../images/controls4_up-down.svg); /* Making sure it's loaded before used */
      background-image: url(../images/controls4_up-up.svg);
      background-repeat: no-repeat;

      &.pressed {
        background-image: url(../images/controls4_up-down.svg);
      }
    }
  }

  #score {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    display: inline-block;
    font-family: 'NevisRegular';
    font-size: 33px;
    color: white;
    width: 35%;
    text-align: center;
    padding: 8px 10px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

#error {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  font-size: 20px;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background: #272d33 url(../images/icon_unsupporteddevice.png) center -10px no-repeat;
  padding-top: 75px;

  a {
    color: #FFF;
  }
}

@media screen and (max-height: 300px) {
  #controller #rightControls #boost {
    top: 60%;
  }
}

html.no-svg #controller {
  #leftControls {
    background-image: url(../images/controls4_stickholder.png);

    #stick {
      background-image: url(../images/controls4_stick.png);
    }
  }
  #rightControls {
    #boost {
      background-image: url(../images/controls4_up-up.svg);

      &.pressed {
        background-image: url(../images/controls4_up-down.svg);
      }
    }
  }
}
