@import "compass/reset";
@import "compass/css3";
@import "_font";
@import "_vars";
@import "_layout";
@import "_base";

.wrapper {
    .main {
        border-top: 19px solid black;
        background: #272d33;

        h1 {
            font-size: 90px;
            text-align: center;
            margin-top: 40px;
            @media screen and (min-width: $mobileMax) {
                font-size: 200px;
            }
        }

        .content {
            margin-top: 30px;
            font-size: 30px;
            line-height: 34px;
            text-align: center;
            @media screen and (min-width: $mobileMax) {
                text-align: right;
            }
            padding-bottom: 40px;

            h2 {
                font-size: 30px;
            }

            .introduction {
                margin: 30px 0 36px;
            }
        }

        .info-graphic {
            background: url(../images/sprite.png) center 5px no-repeat;
            height: 240px;
            margin-top: 30px;
        }
    }

    .about {
        text-align: right;

        a {
            color:#616467;
            display: inline-block;
            margin: 30px 30px 110px 0;

            &:hover {
                color: #FFF;
            }
        }
    }
}



#mobile-container {
    display:none;
}

@media screen and (max-device-width: 960px) {
    #desktop-container {
        display:none;
    }
    #mobile-container {
        display:block;
    }
}
