@import "compass/reset";
@import "compass/css3";
@import "_font";

html, body {
    background-color:#324444;
    padding:0;
    margin:0;
    }

#container {
    position:absolute;
    top:50%;
    margin-top:-300px;
    width:100%;
    height:600px;

    canvas {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:600px;
        }
    }
