@import "compass/reset";
@import "compass/css3";
@import "_vars";
@import "_font";
@import "_layout";
@import "_base";

.wrapper {
  min-width: 960px;

  .main {
    border-top: 19px solid black;
    background: #272d33;
    position: relative;
    height: 619px;

    .highestScoreEver {
      display: none;
      position: absolute;
      right: 0;
      background: #1f252b url(../images/multeor_website-highscoretrophy.png) 20px 20px no-repeat;
      padding: 20px 20px 20px 110px;
      font-size: 18px;
      line-height: 1.2em;
      opacity: 1;
      text-align: left;

      .buddy-icon {
        float: left;
        position: relative;
        width: 49px;
        height: 49px;
        margin-right: 15px;

        .mask {
          background-image: url(../images/multeor_website-highscoreavatarmask.png);
          width: 50px;
          height: 50px;
        }
      }

      .hero-score {
      }

      .hero-name {
        line-height: 47px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .instructions-container {
      text-align: center;
      position: absolute;
      left: 50%;
      margin-left: -480px;
      z-index: 1000;
      height: 600px;
      overflow: hidden;
      font-size: 16px;

      .step-header {
        font-size: 100px;
        margin-top: 104px;
      }

      .step-header-first {
        color: #ff0000;
      }

      .step-header-second {
        color: #ffae1a;
      }

      .step-header-third {
        color: #ffd800;
      }

      .step-row {
        /*margin-top: 26px;*/

        .step {
          font-size: 30px;
          line-height: 40px;
          height: 346px;
          position: relative;
        }

        .step-first {
          background: url(../images/step1-bg.png) center bottom no-repeat;

          .siteurl {
            display: block;
            margin-top: 120px;
            font-size: 22px;
            margin-left: 73px;
            text-align: left;
            color: #191F26;
            letter-spacing: 1px;
          }
        }

        .step-second {
          background: url(../images/step2-bg.png) center bottom no-repeat;

          .gamecode-container.second {
            display: block;
            margin-top: 163px;
            font-size: 22px;
            margin-left: 68px;
            text-align: left;
            color: #191F26;
          }
        }

        .step-third {
          p {
            margin-bottom: 137px;
          }
        }
      }
    }

    .leaderboard-container {
      display: none;
      text-align: center;
      position: absolute;
      left: 50%;
      margin-left: -480px;
      z-index: 1000;
      height: 600px;
      overflow: hidden;

      #gameReset {
        position: absolute;
        top: 430px;
        right: 0;
      }
    }

    .destroy-container {
      display: none;
      text-align: center;
      position: absolute;
      z-index: 1000;
      width: 100%;
      overflow: hidden;
      margin-top: 215px;

      span {
        font-size: 200px;
        letter-spacing: -9px;
      }
    }

    canvas {
      position: relative;
      top: 0;
      width: 100%;
      height: 600px;
    }
  }

  .canvas-footer {
    padding: 30px;

    .audio-toggle {
      float: left;
      width: 30px;
      height: 30px;
      background: url(../images/audio-toggle.png) right top no-repeat;

      &.is-muted {
        background-position: left top;
      }
    }

    .about {
      float: right;
      color: #616467;
      font-size: 16px;

      &:hover {
        color: #FFF;
      }
    }
  }
}

#error {
  display: none;
  position: relative;
  text-align: center;
  border-top: 19px solid black;
  padding-top: 300px;
  background: #272d33 url(../images/multeor_website-fout.png) center center no-repeat;
  font-size: 20px;
  height: 619px;

  a {
    color: #FFF;
  }
}
